/* section join us */

.footer__join {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
    

    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 70px;
        margin-right: 93px;
        
    }
   
}

 .footer__join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-clr);
 }

.footer__join-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer__join-item:not(:last-child) {
    margin-right: 10px;
}

.footer__join-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--bg-wh-clr);
    background-color: var(--bg-footer-icons);
    transition: background-color var(--anim);

    &:hover,
    &:focus {
            fill: var(--bg-wh-clr);
            background-color: var(--accent-txt-clr);
        }
}
