.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: var(--accent-txt-clr);

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo--black {
    color: var(--header-logo-clr);
}

.logo--white {
    color: var(--white-txt-clr);
}