.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-clr);
}

.logo--black {
    color: var(--header-logo-clr);
}

.logo--white {
    color: var(--white-txt-clr);
}