/* Modal Window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--bg-modal);

    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    @media screen and (max-width: 767px) {
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 40px;
        
            min-height: 609px;
            background-color: var(--bg-wh-clr);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform var(--anim);
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 40px;
        
            min-width: 450px;
            min-height: 609px;
            background-color: var(--bg-wh-clr);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform var(--anim);
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        
        min-width: 528px;
        min-height: 581px;
        background-color: var(--bg-wh-clr);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform var(--anim);
    }
 
}

.modal__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: fill var(--anim);

    &:hover,
    &:focus {
            fill: var(--accent-txt-clr);
        }
}

