/* section sign */

.footer__sign {

    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 450px;
    }
   
}

 .footer__sign-title {
    @media screen and (max-width: 1199px) {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-txt-clr);
    }
        
        
    @media screen and (min-width: 1200px) {
        display: flex;
        text-align: left;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-txt-clr);
    }

 }


.footer__sign-form {
    display: block;
    position: relative;
    margin-top: 20px;


    @media screen and (min-width: 1200px) {
        display: flex;
        margin-top: 20px;
    }
    
}

.footer__sign-input {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--border-footer-sign);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: border var(--anim);
    margin-bottom: 20px;

    &:focus,
    &:not(:placeholder-shown) {
        border: 1px solid var(--accent-txt-clr);
        color: var(--white-txt-clr);
        }

    @media screen and (min-width: 768pxpx) {
        width: 100%;
            height: 50px;
            padding-top: 15px;
            padding-left: 16px;
            padding-bottom: 15px;
            background-color: transparent;
            border: 1px solid var(--border-footer-sign);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            outline: transparent;
            transition: border var(--anim);
            margin-bottom: 20px;

            &:focus,
            &:not(:placeholder-shown) {
                border: 1px solid var(--accent-txt-clr);
                color: var(--white-txt-clr);
                }
    }

    @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--border-footer-sign);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: border var(--anim);

    &:focus,
    &:not(:placeholder-shown) {
            border: 1px solid var(--accent-txt-clr);
            color: var(--white-txt-clr);
        }
    }
}

.footer__sign-button {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 200px;
    padding: 10px 28px 10px 28px;
    

    display: flex;
    align-items: center;
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-clr);
    background-color: var(--accent-txt-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
    min-width: 200px;
    height: 100%;
    padding: 10px 29px 10px 28px;
    margin-left: 12px;
    text-align: center;
    }
}

.footer__sign-icon {
    margin-left: 10px;
}