/* section examples */

.examples {
    padding-bottom: 95px;

    &__list {
        display: flex;
        }
}


.examples__item {
    z-index: -1;

    &:not(:last-child) {
        margin-right: 30px;
        }
}

.examples__img-wrap {
    position: relative;
}

.examples__img {
    display: block;
}

.examples__desc {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 100%;
    padding: 27px 82px 27px 82px;
    color: var(--white-txt-clr);
    background-color: var(--bg-wwd-clr);
}