/* header section */

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--bg-wh-clr);

    
}

.header__container {
    height: 60px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 80px;
        display: flex;
        align-items: center;
        
    }

    @media screen and (min-width: 1200px) {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.header__list {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        margin-left: 88px;
        margin-right: 84px;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 93px;
        margin-right: 305px;
    }
    
}

.header__item {
    margin-right: 50px;
    position: relative;

    &:last-child {
        margin-right: 0;
        }
}

.header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-txt-clr);
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-txt-clr);
        }
}

.header__link.link.current::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-txt-clr);
}

.header__contacts {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
            display: flex;
            margin-left: auto;
        }
}



.header__contacts-item {
    display: list-item;
    text-align: match-parent;
}

.header__tel {

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
    
}

.header__icon-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
        margin-right: 8px;

        display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            fill: currentColor;
    }
}

.header__icon-tel {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
        margin-right: 8px;

        display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            fill: currentColor;
    }
}

.header__icon-mail,
.header__icon-tel {

    @media screen and (min-width: 1200px) {
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        fill: currentColor;
        margin-right: 10px;
    }
    
}

.header__mail,
.header__tel {

@media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    padding: 0;
    

    font-size: 12px;
    line-height: 1.16;
    
    color: var(--contact-txt-clr);
    transition: color var(--anim), fill var(--anim);

    
}

    @media screen and (min-width: 1200px) {
        display: flex;
            align-items: center;
            padding-top: 32px;
            padding-bottom: 32px;
        
            color: var(--contact-txt-clr);
            transition: color var(--anim), fill var(--anim);
    }
        
            &:hover,
            &:focus {
                color: var(--accent-txt-clr);
            }
    }
        

.header__portfolio {
    border-bottom: 1px solid var(--portfolio-header-border-clr);
}

// mobile menu
