.idea {
    max-width: 480px;
    // max-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../../images/idea/idea-bg_sm.jpg);

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../../images/idea/idea-bg_sm@2x.jpg);
        }
    
    @media screen and (min-width: 768px) {
        max-width: 768px;
        // max-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/idea/idea-bg_md.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../../images/idea/idea-bg_md@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        max-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/idea/idea-bg_lrg.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../../images/idea/idea-bg_lrg@2x.jpg);
        }
    }
}

.idea__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-clr);
    
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.62;
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        
    } 
}

.idea__btn {
    width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-clr);

    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--accent-txt-clr);
    border-radius: 4px;
    padding: 10px 24px 10px 24px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color var(--anim);

    @media screen and (min-width: 768px) {
        width: 200px;
        padding: 10px 24px 10px 24px;
    }

    @media screen and (min-width: 1200px) {
        width: 216px;
        padding: 10px 32px 10px 32px;
        }
}

