/* section our pros */
.pros {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.pros__list {
    --items: 1;

    @media screen and (min-width: 768px) {
    --items: 2;
    }
    
    @media screen and (min-width: 1200px) {
    --items: 4;
    }
}

.pros__icon-cover {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-btn-clr);

    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

.pros__icon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 70px;
    height: 70px;
}


.pros__title-cover {

    @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

}

.pros__title {
    @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--black-txt-clr);

    margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--black-txt-clr);
        
        margin-bottom: 10px;
        width: 354px;    
    }
    
    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--black-txt-clr);
        
        margin-bottom: 10px;
        width: 270px;   
    }
}

.pros__subtitle {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey-txt-clr);
}