/* section our team */

.team {
    @media screen and (max-width: 1199px) {
    background-color: var(--bg-btn-clr);
    padding-top: 60px;
    padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        background-color: var(--bg-btn-clr);
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__list {
    --items: 1;
    
    @media screen and (min-width: 768px) {
        --items: 2;
    }
    
     @media screen and (min-width: 1200px) {
        --items: 4;
    }
}

.team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--black-txt-clr);


    margin-bottom: 10px;
}

.team__subtitle {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--grey-txt-clr);

    margin-bottom: 15px;
}

.team__sm-list {
    display: flex;
    justify-content: center;

}

.team__sm-item:not(:last-child) {
    margin-right: 10px;
}

.team__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-clr);
    background-color: var(--bg-wh-clr);
    transition: color var(--anim), background-color var(--anim);

    &:hover,
    &:focus {
        color: var(--white-txt-clr);
        background-color: var(--accent-txt-clr);
        }
}

.team__icon {
    fill: currentColor;
}